<!-- Icons font CSS-->
<link href="~/Vehicle/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/Vehicle/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!-- Vendor CSS-->
<link href="~/Vehicle/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/Vehicle/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
<!-- Main CSS-->
<link href="css/main.css" rel="stylesheet" media="all">
<div class="card card-5">
    <div >
        <h2 class="title"></h2>
        <h2><marquee style="color:black">The company</marquee></h2>
    </div>
    <div class="card-body">
        <div class="form-row m-b-55">
            <div class="name">We providing Good service for our customers</div>
            <div class="value">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group-desc">
                            <img src="~/Images/photo-1567602901358-5ba00815eb15.jpg" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group-desc">
                            <img src="~/Images/photo-1603175922978-b10e84330c35.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row m-b-55">
            <div class="name">100% safe and secure</div>
            <div class="value">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group-desc">
                            <img src="~/Images/photo-1570129476815-ba368ac77013.jpg" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group-desc">
                            <img src="~/Images/photo-1613214149922-f1809c99b414.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3 class="name">Service (motor vehicle):</h3><br />
            <p>
                A motor vehicle service or tune-up is a series of maintenance procedures carried out at a set time interval or after the vehicle has traveled a certain distance. The service intervals are specified by the vehicle manufacturer in a service schedule and some modern cars display the due date for the next service electronically on the instrument panel. A tune-up should not be confused with engine tuning, which is the modifying of an engine to perform better than the original specification, rather than using maintenance to keep the engine running as it should.

                The completed services are usually recorded in a service book upon completion of each service. A complete service history usually adds to the resale value of a vehicle.
            </p>
        </div>
        <br />
        <div>
            <h3 class="name">Common maintenance:</h3><br />
            <div>
                <ul style="list-style-type:circle;">
                    <li>
                        Change the engine oil[1]
                    </li>
                    <li>

                        Replace the oil filter
                    </li>
                    <li>
                        Check Brake pads/Liners, Brake discs/Drums, and replace if worn out
                    </li>
                    <li>
                        Replace the fuel filter
                    </li>
                    <li>
                        Check the battery
                    </li>
                    <li>

                        Replace the spark plugs
                    </li>
                    <li>
                        Check level and refill brake fluid/clutch fluid
                    </li>
                    <li>
                        Rotate Tires
                        Check for proper operation of all lights, wipers, etc.
                    </li>
                    <li>
                        Check condition of the tires
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h3 class="name">Our Vision</h3><br />
            <p>
                India’s premier multi-brand vehicle servicing company enriching every mile of your driving experience.
            </p>
        </div>
        <br />
        <div>
            <h3 class="name">Our Mission</h3><br />
            <p>
                To be India’s best known multi-brand car repair and maintenance company, reputed for its professional approach, expertise and affordable service.
            </p>
            <br />
            <ul  style="list-style-type:circle">
                <li>
                    We all have one thing in common…Passion for the automobile.
                </li>
                <li>
                    We make one promise…to treat your vehicle as we would our own.
                </li>
                <li>
                    We take one oath…to never compromise your Vehicle Performance and Occupant Safety!
                </li>
                <li>

                    Expect from us…Great Service, Budget Price™
                </li>
            </ul>
        </div>
        <br />
    </div>
</div>